/* FarmerModule.css */

/* Add custom styles for the header */
.navbar {
    background-color: rgb(250, 248, 248);
  }
  
  .navbar-brand {
    font-size: 24px;
  }
  
  .navbar-nav .nav-link {
    font-size: 18px;
  }
  
  /* Add custom styles for the content */
  .container {
    padding: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  /* Add custom styles for the footer */
  .footer {
    background-color: #f8f9fa;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  /* Add custom styles for the "Logout" link */
  .navbar-nav .nav-item:last-child .nav-link {
    color: #dc3545;
  }
  